{% extends 'base.html' %}

{% block content %}
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
                <h4>Forms</h4>
                    <a href="/scintype" class="mdl-layout__tab">Scin Type</a>
                    <a href="/scin" class="mdl-layout__tab">Scin</a>
                    <a href="/setup" class="mdl-layout__tab">SetUp</a>
                    <a href="/statustype" class="mdl-layout__tab">Status type</a>
                    <a href="/status" class="mdl-layout__tab">Status</a>
                    <a href="/frame" class="mdl-layout__tab">Frame</a>
                    <a href="/layer" class="mdl-layout__tab">Layer</a>
                    <a href="/slot" class="mdl-layout__tab">Slot</a>
                    <a href="/scininserted" class="mdl-layout__tab">Scin Inserted</a>
                    <a href="/pmmodel" class="mdl-layout__tab">PM model</a>
                    <a href="/pm" class="mdl-layout__tab">PM</a>
                    <a href="/hv" class="mdl-layout__tab">HV</a>
                    <a href="/hvchannel" class="mdl-layout__tab">HV channel</a>
                    <a href="/side" class="mdl-layout__tab">Side</a>
                    <a href="/pminserted" class="mdl-layout__tab">PM inserted</a>
                    <a href="/run" class="mdl-layout__tab">Run</a>
                    <a href="/measurementtype" class="mdl-layout__tab">Measurement type</a>
                    <a href="/measurement" class="mdl-layout__tab">Measurement</a>
                    <a href="/radiationsourcetype" class="mdl-layout__tab">Radiation source type</a>
                    <a href="/radiationsource" class="mdl-layout__tab">Radiation source</a>
                    <a href="/radiationsourceinserted" class="mdl-layout__tab">Radiation source inserted</a>

            </div>
        </div>
    </section>
{% endblock content %}