{% extends 'base.html' %}

{% block content %}
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
                <h4>Welcome to J-PET Configuration Interface</h4>
                <p>Here you can perform miracles without consequences</p>
            </div>
            <div class="mdl-card__actions">
                <a href="/faq" class="mdl-button">Go to FAQ</a>
            </div>
        </div>
    </section>
{% endblock content %}